{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container content">
        <h2 class="text-center">Добро пожаловать в мини Соцсеть!</h2>
        <div class="text-center">
            <img src="{% static 'img/network.jpg' %}">
            <br>
            <br>
            <br>
            <a href="{% url 'login:login' %}" class="btn btn-info">Войти</a>
            <a href="{% url 'login:register' %}" class="btn btn-primary">Регистрация</a>
        </div>
    </div>
{% endblock %}