{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="block left-menu">
                    <a href="{% url 'login:profile' %}">
                        <i class="fa fa-user-circle"></i> Мой профиль
                    </a>
                    <a href="{% url 'login:home' %}">
                        <i class="fa fa-newspaper-o"></i> Новости
                    </a>
                    <a href="{% url 'login:home' %}">
                        <i class="fa fa-users"></i> Мои друзья
                    </a>
                </div>
            </div>
            <div class="col-6 content">

                <div class="card">
                    <div class="card-body">
                        <form method="post" action="{% url 'login:newquiz' %}" name="new-post-form" enctype="multipart/form-data">
                            {% csrf_token %}
                                <p>Добавить новый опрос</p>
                                <input class="form-control form-control-sm" type="text" placeholder="Название Викторины" name="question_name"><br>
                                <textarea class="form-control form-control-sm mb-3" type="text" name="text_quiz" placeholder="Описание викторины"></textarea>
                                <input class="form-control form-control-sm" type="text" placeholder="Количество вопросов (от 5 до 10)" name="num_of_quest"><br>
                                <input class="form-control btn btn-outline-success btn-sm" type="submit" value="Добавить опрос">
                        </form>
                    </div>
                </div>
                <div class="timeline">
                    <br>
                    {% for post in posts %}
                         <div class="card mt-2 mb-2">
                            <div class="card-body mt-2 mb-2">
                                <p>Название викторины</p>
                                <div class="form-control form-control-sm">{{ post.name_quiz }}</div>
                                <p>Описание викторины</p>
                                <div class="form-control form-control-sm">{{ post.text }}</div>
                                <p>Дата публикации</p>
                                <div class="form-control form-control-sm">{{ post.datetime }}</div>
                                <p>Количество вопросов</p>
                                <div class="form-control form-control-sm">{{ post.num_of_quest }}</div>
                                <a class="form-control form-control-sm button mt-1">Пройти тест</a>
                                <a href="{% url 'login:edit' post.pk%}" class="button mt-1 form-control form-control-sm">Редактировать</a>
                                <a class="button mt-1 form-control form-control-sm">Удалить</a>
                             </div>
                         </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <div class="block" style="text-align: center;">
                    <b>{{ user.get_full_name }}</b>
                    {% if user.profile.avatar.name %}
                        <img src="{{ user.profile.avatar.url }}" class="mainpage-avatar-img img-thumbnail">
                    {% else %}
                        <img src="{% static 'img/user.jpg' %}" class="mainpage-avatar-img img-thumbnail">
                    {% endif %}
                    <div class="right-menu-links">
                        <a href="{% url 'login:profile' %}" class="btn btn-outline-primary btn-sm">
                            <i class="fa fa-user-circle"></i> Мой профиль
                        </a>
                        <a href="{% url 'login:edit_profile' %}" class="btn btn-outline-success btn-sm">
                            <i class="fa fa-pencil-square"></i> Редактировать
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}