{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-3 text-center">
            <div class="card">
                    <div class="card-body text-center">
                        <form method="post" name="new-post-form" enctype="multipart/form-data" class="text-center">
                            {% csrf_token %}
                            <textarea class="form-control form-control-sm mb-3" type="text" name="text" placeholder="Описание викторины"></textarea>

                            <input class="form-control form-control-sm mt-4" type="text" placeholder="Вопрос №1" name="question"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №1" name="option1"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №2" name="option2"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №3" name="option3"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №4" name="option4"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Правильный ответ" name="answer"><br>

                            <input class="form-control form-control-sm mt-4" type="text" placeholder="Вопрос №2" name="question"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №1" name="option1"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №2" name="option2"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №3" name="option3"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №4" name="option4"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Правильный ответ" name="answer"><br>

                            <input class="form-control form-control-sm mt-4" type="text" placeholder="Вопрос №3" name="question"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №1" name="option1"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №2" name="option2"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №3" name="option3"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №4" name="option4"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Правильный ответ" name="answer"><br>

                            <input class="form-control form-control-sm mt-4" type="text" placeholder="Вопрос №4" name="question"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №1" name="option1"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №2" name="option2"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №3" name="option3"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №4" name="option4"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Правильный ответ" name="answer"><br>

                            <input class="form-control form-control-sm mt-4" type="text" placeholder="Вопрос №5" name="question"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №1" name="option1"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №2" name="option2"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №3" name="option3"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Вариант ответа №4" name="option4"><br>
                            <input class="form-control form-control-sm" type="text" placeholder="Правильный ответ" name="answer"><br>

                            <input class="form-control btn btn-outline-success btn-sm" type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
</div>

{% endblock %}